*{padding: 0;margin: 0;box-sizing: border-box;font-family: 'Noto Kufi Arabic', sans-serif;}
:root{
  --app-color: #daf3de
}
body{
  background: var(--app-color);
  color: #121212;
}
.header{
  min-height: 100vh;
}
.header img{
  width: 100%;
  height: 100vh;
}
.about{
  display: flex;
}
.col-4,.col-8{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
  padding: .25rem;
  min-height: 300px;
}
.col-8{
  width: 60%;
}

.about img{
  width: 100%;
  min-height: 400px;
  height: auto;
  box-shadow: 0 5px 5px 1px #222;
  border-radius: 30px;
}
.about .sm img{
  max-height: 400px

}
.about h1{
  font-size: 33px;
  margin: 1rem .5rem;
  position: relative;
}
.about h1::after{
  content: '';
  position: absolute;
  bottom: -8px;
  width: 40%;
  height: 4px;
  right: 0;
  background-color: #1f6e2a
}
.about p{
  padding-right: 15%;
}
p{
  font-size: 22px;
  margin: 1rem .5rem;
}
.about a{
  /* text-decoration: none; */
  font-weight: 900;
  font-size: 22px;
  color: #1f6e2a;
  text-align: center;
  margin: 1rem .5rem;
  transition: all .8s ease;

}
.about a:hover{
  color: #553fff;
  transition: all .8s ease;
  transform: translate(0, 20%);
}
.sm{
  display: none
}

.why-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}
.why-container h2{
  font-size: 30px
}
.why{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 2rem 0
}
.reason{
  padding: 1rem;
  text-align: center;
  width: 33.333333%
}
.reason i {
  font-size: 90px;
  margin: .5rem auto;
  color: #1f6e2a
}
.reason h3{
  color: #1f6e2a
}

.whats-icon{
  position: fixed;
  bottom: 20px;
  right: 20px;
  filter:drop-shadow(4px 4px 4px #222);
}
.whats-icon:hover{
  transition: all .3s ease;
  filter:drop-shadow(0px 0px 0px #222);

}

.footer{
  text-align: center;
  margin-top: 3rem;
}
.footer h3{
  font-size: 28px
}
.btn{
  display: table;
  font-size: 22px;
  border: 2px solid var(--app-color);
  box-shadow: 0 0 10px 1px #222;
  margin: 2rem auto;
  padding: .25rem 2rem;
  text-decoration: none;
  background: #1f6e2a;
  font-weight: 900;
  color: var(--app-color);
  border-radius: 5px;
}
.btn:hover{
  box-shadow: none
}

.btn.lg, .btn.sm{
  position: absolute;
  bottom: 35%;
  left: 23%;
  width: 14%;
  text-align: center;
  font-size: .75rem;
  animation: ll .8s linear alternate infinite
}
.btn.sm{
  left: 36%;
  bottom: 24%;
  width: 25%;
  font-size: .75rem;
  padding: 2px;
  display: none;
}
.tooltip{
  position: fixed;
  bottom: 110px;
  background: #fff;
  box-shadow: 0 5px 40px 1px #222;
  text-align: center;
  padding: .25rem;
  right: 15px;
  border-radius: 10px;
  animation: float 1s ease alternate infinite
}
.tooltip::after{
  content: '';
  position: absolute;
  top: 100%;
  z-index: 2;
  right: 30%;
  width:0;height: 0;
  border: 10px solid transparent;
  border-top-color: #fff;
}
@media (max-width: 740px) {
  .lg, .btn.lg{
    display: none
  }
  .sm, .btn.sm{
    display: block
  }
  .about{
    flex-direction: column;
  }
  .col-4, .col-8{
    width: 100%;
  }
  .reason{
    min-width: 350px
  }
  .about p{
    padding-right: 0;
  }
}


@keyframes ll{
  100%{opacity: 0.7;}
}
@keyframes float{
  100%{transform: translate(0, 7px)}
}